<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://www.linkedin.com/in/brandon-goodman-50a3b2161/">Brandon Goodman</a>. A student at The Firehose Project that is becoming a web developer and improving his skills daily.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'brandon.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Brandon Goodman</h2>
      <br />
      <p>
        Brandon Goodman is a Low Voltage Technician that is going to school to start a new career and see where life will take him next.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />